<section class="blocks">
    <ul>
        <li>
                <p><%= scanDetail.result[0].title %></p>
            <div class="blocks-content">
                <p><%= scanDetail.result[0].amount %></p>
                <img src="/images/cross.svg" alt="ontdekte fouten">
            </div>
        </li>
        <li>
             <p><%= scanDetail.result[1].title %></p>
            <div class="blocks-content">
                <p><%= scanDetail.result[1].amount %></p>
                <img src="images/contrast.svg" alt="contrast fouten">
            </div>
        </li>                
        <li>
                <p><%= scanDetail.result[2].title %></p>
            <div class="blocks-content">
                <p><%= scanDetail.result[2].amount %></p>
                <img src="images/hierarchy.svg" alt="structurele fouten">
            </div>
        </li>                
        <li>
                <p><%= scanDetail.result[3].title %></p>
            <div class="blocks-content">
                <p><%= scanDetail.result[3].amount %></p>
                <img src="images/picture.svg" alt="ontbrekende alt teksten">
            </div>
        </li>                
        <li>
                <p><%= scanDetail.result[4].title %></p>
            <div class="blocks-content">
                <p><%= scanDetail.result[4].amount %></p>
                <img src="images/label.svg" alt="ontbrekende aria-labels">
            </div>
        </li>
    </ul>
</section>