<%- include('./partials/head') %>

    <main>
  <div class="error-message">
    <img src="images/screensize.png" alt="screen is not big enough">
    <h2>Je scherm is te klein</h2>
    <p>AccessDash vereist een minimale schermbreedte van 900px</p>
  </div>
  
  <div class="main-content">
    <section class="heading">
      <h1><span>Automatische scan</span>Nieuwekijk/home</h1>
      <!-- moet er nog voor zorgen dat dit ook dynamische data wordt -->

      <div class="carousel-nav">
        <a href="?month=05"><</a>
        <p> <%= new Date(scanDetail.date).toLocaleDateString('en-US', { month: 'long' }) %> </p>
        <a href="?month=<%= new Date(scanDetail.date).toLocaleDateString('en-US', { month: 'long' }) %>">></a>
      </div>
      
    </section>
    
    <%- include('./partials/autoscanresult') %>

    <%- include('./partials/blocks') %>

    <section class="foutmeldingen">
      <h3>Soorten foutmeldingen</h3>
      <div>
        <canvas id="bar-chart"></canvas>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
        const barChart = document.getElementById('bar-chart');
        const contrastResult = <%= scanDetail.result[1].amount %>
        const structureelResult = <%= scanDetail.result[2].amount %>
        const alttekstenResult = <%= scanDetail.result[3].amount %> 
        const arialabelsResult = <%= scanDetail.result[2].amount %>

        new Chart(barChart, {
          type: 'bar',
          data: {
            labels: ['contrast', 'structureel', 'alt-teksten', 'aria-labels'],
            datasets: [{
              label: '',
              data: [contrastResult, structureelResult, alttekstenResult, arialabelsResult],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              }
            }
          }
        });
      </script>
      
    </section>

    <section class="toegankelijkheid">
      <h3>Toegankelijkheid</h3>
    </section>
  </div>
</main>

<%- include('./partials/foot') %>
