<%- include('./partials/head') %>

<main>
	<%- include('./partials/errorstate') %>
	
	<div class="main-content">
		<section class="heading">
			<h1>
				<span>Automatische scan</span>Nieuwekijk/home
			</h1>
	  <!-- moet er nog voor zorgen dat dit ook dynamische data wordt -->
	
		  <div class="carousel-nav">
			<a href="?month=<%= new Date(new Date(scanDetail.date).setMonth(new Date(scanDetail.date).getMonth() - 1)).toLocaleDateString('en-US', { month: 'long' }) %>"><</a>
			<p> <%= new Date(scanDetail.date).toLocaleDateString('en-US', { month: 'short' }) %> </p>
			<a href="?month=<%= new Date(new Date(scanDetail.date).setMonth(new Date(scanDetail.date).getMonth() + 1)).toLocaleDateString('en-US', { month: 'long' }) %>">></a>
		  </div>      
		</section>
    
		<%- include('./partials/autoscanresult') %>
		<%- include('./partials/blocks') %>

	    <section class="foutmeldingen" tabindex="0">
	      <h3>Soorten foutmeldingen</h3>
	      <div>
	        <canvas id="bar-chart"></canvas>
	      </div>
	      
	      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	      
	      <script>
	        const barChart = document.getElementById('bar-chart');
	        const contrastResult = <%= scanDetail.result[1].amount %>
	        const structureelResult = <%= scanDetail.result[2].amount %>
	        const alttekstenResult = <%= scanDetail.result[3].amount %> 
	        const arialabelsResult = <%= scanDetail.result[2].amount %>
	
	        new Chart(barChart, {
	          type: 'bar',
	          data: {
	            labels: ['contrast', 'structureel', 'alt-teksten', 'aria-labels'],
	            datasets: [{
	              label: '',
	              data: [contrastResult, structureelResult, alttekstenResult, arialabelsResult],
	              borderWidth: 1
	            }]
	          },
	          options: {
	            scales: {
	              y: {
	                beginAtZero: true,
	              }
	            }
	          }
	        });
	      </script>
	      
	    </section>

	    <section class="toegankelijkheid" tabindex="0">
	      <h3>Toegankelijkheid</h3>
	      <div>
	        <canvas id="myChart"></canvas>
	      </div>
	      
	      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	      
	      <script>
	        const ctx = document.getElementById('myChart');
	        const allScores = allScores.forEach(score => {
	
	        })
	      
	        new Chart(ctx, {
	          type: 'line',
	          data: {
	            labels: '',
	            datasets: [{
	              label: '# of Votes',
	              data: [12, 19, 3, 5, 2, 3],
	              borderWidth: 1
	            }]
	          },
	          options: {
	            scales: {
	              y: {
	                beginAtZero: true
	              }
	            }
	          }
	        });
	      </script>
	      
	    </section>
	</div>
</main>

<%- include('./partials/foot') %>
