<% console.log(browser.rows) %>




<ol>
  <li>
    <h2>Users in the last year</h2>
    <canvas id="countryChart" class="chart"></canvas>
  </li>
  <li>
    <h2>browser of users</h2>
    <canvas id="browserChart" class="chart"></canvas>
  </li>
</ol>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const country = document.getElementById('countryChart');


  // Arrays to store filtered labels and data
  const filteredLabels = [];
  const filteredData = [];

  // Variables to accumulate "Other" category data
  let otherCount = 0;
  let otherValue = 0;

  // Iterate through the data rows
  <% country.rows.forEach(function(row) { 
    const value = parseInt(row.metricValues[0].value); %>

    if (<%= value %> < 10) {
      // Accumulate data for "Other" category
      otherCount++;
      otherValue += <%= value %>;
    } else {
      // Add to filtered arrays
      filteredLabels.push('<%= row.dimensionValues[0].value %>');
      filteredData.push(<%= value %>);
    }

  <% }); %>

  // Check if there are any "Other" values to add
  if (otherCount > 0) {
    filteredLabels.push('Other');
    filteredData.push(otherValue);
  }

  new Chart(country, {
    type: 'doughnut',
    data: {
      labels: filteredLabels,      
      datasets: [{
        label: 'Aantal keer bezocht',
        data: filteredData,          
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });  


  const browser = document.getElementById('browserChart');
  const labels = browser.rows.map(row => row.dimensionValues[0].value);

  new Chart(browser, {
    type: 'doughnut',
    data: {
      labels: [
      <% browser.rows.forEach(function(row, index) { %>
        '<%= row.dimensionValues[0].value %>'<% if (index < browser.rows.length - 1) { %>,<% } %>
      <% }); %>
    ],      
    datasets: [{
        label: 'Aantal keer bezocht',
        data: [
      <% browser.rows.forEach(function(row, index) { %>
        '<%= row.metricValues[0].value %>'<% if (index < browser.rows.length - 1) { %>,<% } %>
      <% }); %>
    ],          borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
<script>
</script>



<ul>
<% browser.rows.forEach(function(row) { %>
  <li><%= row.dimensionValues[0].value %>: <%= row.metricValues[0].value %></li>
<% }) %>
</ul>
